.field input {
    height: 100%;
    width: 100%;
    padding-left: 54px; /* cursor location */
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 86px;
    color: rgba(49, 42, 80, 0.746); /* input text color */
    background: #09093c;
    box-shadow: inset 4px 4px 10px #24247adc,
                inset -1px -1px 15px #000000bf;
}

.field input:focus {
    box-shadow: inset 12px 12px 20px rgb(33, 29, 89),
            inset -17px -10px 20px #000000bf;
}

.field > .field-icon {
    position: absolute;
    color: #ffffffc4;
    width: 67px;
    top: 33%;
    height: 40%;
}

.field label {
    position: absolute;
    top: 52%;
    left: 55px;
    transform: translateY(-40%);
    font-size: 14.5px;
    pointer-events: none;
    color: #ffffffe6;
}

.field input:valid ~label {
    opacity: 0;
}

.button {
    margin: 6% 0;
    width: 255px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 86px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffffc6;
    background: rgba(29, 22, 156, 0.663);
}

.button:hover {
    background: rgba(31, 28, 105, 0.976);
    box-shadow: inset 2px 2px 5px rgba(17, 13, 98, 0.829)
                inset -5px -5px 10px #d9404000;
}

.field > p > a {
    color: rgba(54, 53, 158, 0.585);
    text-decoration: none;
    font-weight: bold;
}